@import url(http://fonts.googleapis.com/css?family=Questrial);
/************************************
               IMPORTS
************************************/
/************************************
              VARIABLES
************************************/
/************************************
               MIXINS
************************************/
/************************************
                HTML
************************************/
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Questrial', sans-serif !important;
  padding-top: 100px;
  margin-bottom: 200px;
  background-image: url('/img/site/bg/extra_clean_paper.png');
  background-repeat: repeat; }

/************************************
               CLASSES
************************************/
/* main page structure */
.navbar-wrapper {
  width: 100%;
  height: 40px;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  -moz-box-shadow: 0px 0px 10px 0px #000000;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  -o-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10); }

.navbar-main {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px; }
  .navbar-main a, .navbar-main a:hover, .navbar-main a:active, .navbar-main a:visited {
    text-decoration: none;
    color: #ffffff; }
  .navbar-main .dropdown-menu {
    margin-top: 0px;
    min-width: 100px !important; }
    .navbar-main .dropdown-menu a, .navbar-main .dropdown-menu a:hover, .navbar-main .dropdown-menu a:active, .navbar-main .dropdown-menu a:visited {
      color: #121212 !important;
      padding: 10px; }
    .navbar-main .dropdown-menu li {
      width: 100%; }
  .navbar-main .dropdown:hover .dropdown-menu {
    display: block; }

.navbar-main-items {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0; }

.show-navbar {
  display: none;
  float: right;
  padding: 0;
  margin: 0; }

.navbar-main-items a, .show-navbar a {
  padding: 10px; }
.navbar-main-items li, .show-navbar li {
  list-style-type: none;
  display: inline-block;
  line-height: 40px; }
.navbar-main-items li:hover, .navbar-main-items li:active, .show-navbar li:hover, .show-navbar li:active {
  background-color: #3a3a3a; }

.logo {
  display: inline-block;
  padding-top: 2px; }

.navbar-home-wrapper {
  width: 100%;
  min-height: 50px; }

.navbar-home-main {
  display: none;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; }
  .navbar-home-main a, .navbar-home-main a:hover, .navbar-home-main a:active {
    text-decoration: none;
    padding: 10px; }
  .navbar-home-main a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #a8a8a8; }
  .navbar-home-main a:hover, .navbar-home-main a:active {
    color: #121212; }
  .navbar-home-main ul {
    padding: 0;
    margin: 0; }
  .navbar-home-main .navbar-home-item {
    display: inline-block;
    float: left;
    padding: 5px;
    margin-right: 10px;
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .navbar-home-main .navbar-home-item:hover {
      color: #121212;
      cursor: pointer;
      border: 2px solid #121212;
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px; }

.content-wrapper {
  width: 100%; }

.content-main {
  display: none;
  width: 80%;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 300px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-box-shadow: 0px 0px 10px 0px #cfcfcf;
  -webkit-box-shadow: 0px 0px 10px 0px #cfcfcf;
  -o-box-shadow: 0px 0px 10px 0px #cfcfcf;
  box-shadow: 0px 0px 10px 0px #cfcfcf;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10); }

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #121212;
  -moz-box-shadow: 0px 0px 10px 0px #000000;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  -o-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10); }

.footer-main {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff; }

/* basic classes */
.small-text {
  font-size: 10px; }

.align-middle {
  margin: 0 auto; }

/* general classes */
.panel-trendy {
  padding: 40px;
  margin: 40px;
  background-color: #eeeeee;
  border: 1px solid #dedede;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 0px 0px 10px 0px #000000;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  -o-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10); }

.follow-us {
  display: inline-block;
  text-align: left; }
  .follow-us img {
    display: inline-block;
    padding-left: 5px; }

.payment-icons {
  display: inline-block;
  text-align: right; }
  .payment-icons img {
    display: inline-block;
    padding-left: 10px; }

.footer-menu {
  width: 300px;
  display: inline-block;
  text-align: center; }
  .footer-menu a, .footer-menu a:hover, .footer-menu a:active, .footer-menu a:visited {
    color: #ffffff; }
  .footer-menu ul {
    padding: 0px; }
  .footer-menu li {
    list-style-type: none; }
  .footer-menu .footer-menu-middle {
    display: inline-block;
    width: 1px;
    vertical-align: top; }
  .footer-menu .footer-menu-left {
    display: inline-block;
    text-align: right;
    padding-top: 15px;
    padding-right: 8px;
    width: 85px; }
  .footer-menu .footer-menu-right {
    display: inline-block;
    text-align: left;
    padding-top: 15px;
    padding-left: 8px;
    width: 85px; }

/* masonry */
.homeMasonry {
  width: 100%; }

.homeMasonry_brick {
  cursor: pointer;
  padding: 10px;
  width: 33.333%;
  overflow: hidden; }
  .homeMasonry_brick a, .homeMasonry_brick a:hover, .homeMasonry_brick a:active {
    text-decoration: none;
    color: #121212; }
  .homeMasonry_brick img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%; }
  .homeMasonry_brick .homeMasonry_brick_top_txt, .homeMasonry_brick .homeMasonry_brick_type {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none; }
  .homeMasonry_brick:hover img {
    opacity: 0.3;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  .homeMasonry_brick:hover .homeMasonry_brick_top_txt, .homeMasonry_brick:hover .homeMasonry_brick_type {
    display: block;
    position: absolute; }
  .homeMasonry_brick:hover .homeMasonry_brick_top_txt {
    top: 15px;
    left: 20px; }
  .homeMasonry_brick:hover .homeMasonry_brick_title {
    font-size: 18px;
    font-weight: bold; }
  .homeMasonry_brick:hover .homeMasonry_brick_artist {
    font-size: 14px;
    font-style: italic; }
  .homeMasonry_brick:hover .homeMasonry_brick_type {
    bottom: 15px;
    right: 20px;
    font-size: 14px; }

/* article page */
.article-title {
  font-size: 24px;
  font-weight: bold; }

.article-type a, .article-type a:hover, .article-type a:active {
  color: #121212; }

.article-artist a, .article-artist a:hover, .article-artist a:active {
  color: #121212; }
.article-artist ul {
  margin: 0;
  padding: 0; }
.article-artist li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle; }
.article-artist .article-artist-image {
  width: 30px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px; }

.article-description {
  font-size: 14px; }

.article-cover img {
  width: 100%; }

.article-images-thumbs, .browse-articles-thumbs, .browse-artists-thumbs {
  padding: 10px; }
  .article-images-thumbs div, .browse-articles-thumbs div, .browse-artists-thumbs div {
    padding: 5px;
    margin: 0; }

.article-image-thumb {
  cursor: pointer; }
  .article-image-thumb img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    width: 100%; }
  .article-image-thumb:hover img {
    opacity: 0.3; }

.article-subsection-title {
  font-size: 18px;
  font-style: italic; }

.browse-articles-thumb {
  cursor: pointer; }
  .browse-articles-thumb a, .browse-articles-thumb a:hover, .browse-articles-thumb a:active {
    text-decoration: none;
    color: #121212; }
  .browse-articles-thumb img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%; }
  .browse-articles-thumb .browse-article-top-txt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none; }
  .browse-articles-thumb:hover img {
    opacity: 0.3;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -moz-box-shadow: 0px 0px 15px 0px #333333;
    -webkit-box-shadow: 0px 0px 15px 0px #333333;
    -o-box-shadow: 0px 0px 15px 0px #333333;
    box-shadow: 0px 0px 15px 0px #333333;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333, Direction=NaN, Strength=15); }
  .browse-articles-thumb:hover .browse-article-top-txt {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    line-height: 10px; }
  .browse-articles-thumb:hover .browse-article-title {
    font-size: 10px;
    font-weight: bold; }
  .browse-articles-thumb:hover .browse-article-artist {
    font-size: 8px;
    font-style: italic; }

.article-shop ul {
  margin: 0;
  padding: 0; }
.article-shop li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px; }
.article-shop .article-price {
  font-size: 30px; }

.article-icons {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .article-icons ul {
    margin: 0;
    padding: 0; }
  .article-icons li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px; }
  .article-icons li:hover {
    opacity: 0.5; }
  .article-icons .article-wishlist-true i {
    color: #CCCC00; }
  .article-icons .article-like-true i {
    color: #B80000; }

/* artist page */
.artist-details-panel .artist-cover {
  margin-left: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px; }
.artist-details-panel .artist-name {
  font-size: 24px;
  font-weight: bold; }
.artist-details-panel .artist-company {
  font-size: 14px; }

.artist-md-cover {
  margin-left: 10px;
  width: 70px;
  height: 70px;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px; }

.browse-artists-thumb {
  cursor: pointer;
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .browse-artists-thumb a, .browse-artists-thumb a:hover, .browse-artists-thumb a:active {
    text-decoration: none;
    color: #121212; }
  .browse-artists-thumb .browse-artists-top-txt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none; }
  .browse-artists-thumb:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
    .browse-artists-thumb:hover .artist-md-cover {
      opacity: 0.3; }
    .browse-artists-thumb:hover .browse-artists-top-txt {
      position: absolute;
      display: block;
      line-height: 14px;
      width: 70px;
      bottom: 13px; }
    .browse-artists-thumb:hover .browse-artists-name {
      font-size: 14px;
      font-weight: bold; }

/* user page */
.user-details-panel .user-cover {
  margin-left: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  -webkit-border-radius: 100px 100px 100px 100px; }
.user-details-panel .user-name {
  font-size: 24px;
  font-weight: bold; }
.user-details-panel .user-company {
  font-size: 14px; }
.user-details-panel .user-options ul {
  margin: 0;
  padding: 0; }
.user-details-panel .user-options li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle; }

.user-cart-table td, .user-cart-table th {
  text-align: left; }

.cart-total-txt, .cart-taxe-txt, .cart-totalWithTx-txt {
  text-align: right; }

.cart-totalWithTx-txt {
  font-size: 14px;
  font-weight: bold; }

.cart-total, .cart-taxe, .cart-totalWithTx {
  font-weight: bold; }

.cart-totalWithTx {
  font-size: 24px; }

.cart-checkout {
  text-align: center; }

/* album image overlay */
.overlay-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11000;
  background-image: url('/img/site/bg/black70.png');
  background-repeat: repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  width: 100%; }

.overlay-main {
  padding: 30px; }
  .overlay-main .glyphicon {
    font-size: 24px;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .overlay-main ul {
    margin: 0;
    padding: 0; }
  .overlay-main li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle; }
  .overlay-main .overlay-left-arrow, .overlay-main .overlay-right-arrow, .overlay-main .overlay-close {
    cursor: pointer;
    color: white; }
  .overlay-main .overlay-left-arrow:hover, .overlay-main .overlay-right-arrow:hover, .overlay-main .overlay-close:hover {
    opacity: 0.5;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  .overlay-main .overlay-image {
    -moz-box-shadow: 0px 0px 100px 0px #000000;
    -webkit-box-shadow: 0px 0px 100px 0px #000000;
    -o-box-shadow: 0px 0px 100px 0px #000000;
    box-shadow: 0px 0px 100px 0px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10); }

/* browse page */
.browse-left-panel {
  -webkit-box-shadow: 15px 0px 34px -26px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 0px 34px -26px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 0px 34px -26px rgba(0, 0, 0, 0.75); }

.accordion-section-title {
  font-weight: bold;
  font-size: 14px; }

.accordion-section-description {
  font-size: 10px; }

/* vAccordion - AngularJS */
v-accordion {
  display: block; }

v-pane {
  display: block; }

v-pane.is-expanded > v-pane-content > div {
  visibility: visible; }

v-pane-header {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none; }

v-pane-header:focus {
  outline: none; }

v-pane-header > div {
  display: block; }

v-pane-content {
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0px; }

v-pane-content > div {
  visibility: none; }

/* Theme: default
   ***************************************/
.vAccordion--default v-accordion {
  margin-top: 20px;
  padding-left: 20px; }

.vAccordion--default v-pane {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

.vAccordion--default v-pane.is-expanded > v-pane-header {
  border-bottom-color: #2196F3; }

.vAccordion--default v-pane.is-expanded > v-pane-header::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0; }

.vAccordion--default v-pane.is-expanded > v-pane-header::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.vAccordion--default v-pane.is-expanded > v-pane-content > div {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.vAccordion--default v-pane.is-expanded-add > v-pane-content, .vAccordion--default v-pane.is-expanded-remove > v-pane-content {
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s; }

.vAccordion--default v-pane-header {
  padding: 5px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #D8D8D8;
  -webkit-transition: color 0.25s, border-color 0.5s;
  transition: color 0.25s, border-color 0.5s; }

.vAccordion--default v-pane-header::after, .vAccordion--default v-pane-header::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #2196F3;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.vAccordion--default v-pane-header::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.vAccordion--default v-pane-header:hover, .vAccordion--default v-pane-header:focus {
  color: #2196F3; }

.vAccordion--default v-pane-content > div {
  padding-bottom: 20px;
  will-change: transform, opacity;
  opacity: 0;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

/* admin page */
.table-date {
  font-size: 10px; }

.table-header {
  cursor: pointer; }
  .table-header :before {
    content: '\25BA'; }
  .table-header .st-sort-ascent:before {
    content: '\25B2'; }
  .table-header .st-sort-descent:before {
    content: '\25BC'; }

.list_admin ul {
  padding: 0px;
  margin: 0px; }
.list_admin li {
  display: inline;
  float: left;
  padding: 2px;
  cursor: pointer;
  list-style-type: none; }

.articleImage_thumb {
  display: block;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }
  .articleImage_thumb img:hover {
    opacity: 0.3; }
  .articleImage_thumb .articleImage_thumb_delete {
    display: none;
    position: relative;
    z-index: 1000;
    font-size: 25px;
    margin-bottom: -25px;
    margin-left: 75px; }
  .articleImage_thumb .articleImage_thumb_delete:hover {
    display: block; }

/* separator */
.spacer {
  margin-top: 35px;
  width: 100%;
  position: relative; }
  .spacer .mask {
    overflow: hidden;
    height: 20px; }
    .spacer .mask:after {
      content: '';
      display: block;
      margin: -25px auto 0;
      width: 100%;
      height: 25px;
      border-radius: 125px/12px;
      box-shadow: 0 0 10px #b3b3b3; }
  .spacer span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white; }
  .spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #999; }

.spacer-vertical {
  margin-left: 20px;
  width: 20px;
  position: relative; }
  .spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    height: 500px; }
  .spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px/125px;
    box-shadow: 0 0 20px #b3b3b3; }
  .spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px/125px;
    box-shadow: 0 0 20px #b3b3b3; }

/************************************
            MEDIA QUERIES
************************************/
/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width: 992px) {
  .artist-cover, .user-cover {
    margin: 0 auto !important; } }

@media only screen and (max-width: 900px) {
  .homeMasonry_brick {
    width: 50%; } }

@media only screen and (max-width: 768px) {
  .navbar-main, .navbar-home-main, .content-main, .footer-main {
    width: 90%; }
  /* Navbar */
  .navbar-main-items {
    display: none; }
  .show-navbar {
    display: inline-block; }
  .browse-left-panel {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0); } }

@media only screen and (max-width: 500px) {
  body {
    padding-top: 40px; }
  .navbar-home-wrapper {
    padding-top: 20px; }
  .homeMasonry_brick, .content-main {
    width: 100%; }
  .content-main {
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0; } }
