/************************************
               IMPORTS
************************************/


@import url(http://fonts.googleapis.com/css?family=Questrial);


/************************************
              VARIABLES
************************************/


$font-content: 'Questrial', sans-serif !important;
$font-size: 14px;
$xs-font-size: 8px;
$sm-font-size: 10px;
$md-font-size: 14px;
$lg-font-size: 18px;
$xl-font-size: 24px;
$xxl-font-size: 30px;

$dark-color: #121212;
$light-color: #ffffff;
$light-bgcolor: #eeeeee;
$lightdark-bgcolor: #3a3a3a;

$primary-text-color: #121212;
$secondary-text-color: #ffffff;
$inactive-text-color: #dedede;
$inactive-color-dark: #a8a8a8;

$default-padding: 40px;
$lg-padding: 30px;
$md-padding: 20px;
$sm-padding: 10px;
$xs-padding: 5px;
$xxs-padding: 2px;
$default-margin: 40px;
$md-margin: 20px;
$sm-margin: 10px;
$xs-margin: 5px;
$default-radius: 10px;
$content-width: 1000px;
$md-media-width: 900px;
$xmd-media-width: 992px;
$sm-media-width: 768px;
$xs-media-width: 500px;

$footer-height: 200px;

$zindex-top: 10000;
$zindex-overlay: 11000;

/************************************
               MIXINS
************************************/


@mixin default-shadow{
    -moz-box-shadow: 0px 0px 10px 0px #000000;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    -o-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
}

@mixin light-shadow{
    -moz-box-shadow: 0px 0px 10px 0px #cfcfcf;
    -webkit-box-shadow: 0px 0px 10px 0px #cfcfcf;
    -o-box-shadow: 0px 0px 10px 0px #cfcfcf;
    box-shadow: 0px 0px 10px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10);
}

@mixin large-shadow{
    -moz-box-shadow: 0px 0px 100px 0px #000000;
    -webkit-box-shadow: 0px 0px 100px 0px #000000;
    -o-box-shadow: 0px 0px 100px 0px #000000;
    box-shadow: 0px 0px 100px 0px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
}

@mixin default-radius{
    border-radius: $default-radius $default-radius $default-radius $default-radius;
    -moz-border-radius: $default-radius $default-radius $default-radius $default-radius;
    -webkit-border-radius: $default-radius $default-radius $default-radius $default-radius;
}

@mixin no-radius{
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}


@mixin content-background-radius{
    border-radius: $default-radius $default-radius 0 0;
    -moz-border-radius: $default-radius $default-radius 0 0;
    -webkit-border-radius: $default-radius $default-radius 0 0;
}

@mixin artist-sm-image-radius{
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

@mixin artist-lg-image-radius{
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
}

@mixin default-border{
    border: 1px solid $inactive-text-color;
}

@mixin home-navbar-border{
    border: 2px solid $primary-text-color;
    @include default-radius;
}

@mixin home-navbar-invisible-border{
    border: 2px solid transparent;
    @include default-radius;
}

@mixin transition-opacity{
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

@mixin transition-scale{
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
     transform:scale(1.05);
}

@mixin transition-lg-scale{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
     transform:scale(1.5);
}

@mixin transition-ease{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

@mixin transition-quick-ease{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/************************************
                HTML
************************************/

html {
  position: relative;
  min-height: 100%;
}

body{
    font-family: $font-content;
    padding-top:100px;
    margin-bottom: $footer-height;
    background-image: url('/img/site/bg/extra_clean_paper.png');
    background-repeat: repeat;
}


/************************************
               CLASSES
************************************/


/* main page structure */

.navbar-wrapper{
    width: 100%;
    height: 40px;
    background-color: $dark-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $zindex-top;
    @include default-shadow;
}

.navbar-main{
    margin: 0 auto;
    width: 80%;
    max-width: $content-width;
    a, a:hover, a:active, a:visited{
        text-decoration: none;
        color: $light-color;
    }
}

.navbar-main-items{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
}

.show-navbar{
    display: none;
    float: right;
    padding: 0;
    margin: 0;
}

.navbar-main-items, .show-navbar{
    a{
        padding: $sm-padding;
    }
    li{
        list-style-type: none;
        display: inline-block;
        line-height: 40px;
    }
    li:hover, li:active{
        background-color: $lightdark-bgcolor;
    }
}

.logo{
    display: inline-block;
    padding-top: 2px;
}

.navbar-home-wrapper{
    width: 100%;
    min-height: 50px;
}

.navbar-home-main{
    display: none;
    width: 80%;
    max-width: $content-width;
    margin: 0 auto;
    color: $inactive-color-dark;
    ul{
        padding: 0;
        margin: 0;
    }
    .navbar-home-item{
        display: inline-block;
        float: left;
        padding: $xs-padding;
        margin-right: $sm-margin;
        list-style-type: none;
        font-weight: bold;
        font-size: $lg-font-size;
        @include home-navbar-invisible-border;
        @include transition-quick-ease;
        &:hover{
            color: $primary-text-color;
            cursor: pointer;
            @include home-navbar-border;
        }
    }
}

.content-wrapper{
    width: 100%;
}

.content-main{
    display: none;
    width: 80%;
    max-width: $content-width;
    margin: 0 auto;
    padding: $md-padding;
    padding-bottom:300px;
    background-color: $light-color;
    @include content-background-radius;
    @include light-shadow;
}

.footer-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    background-color: $dark-color;
    @include default-shadow;
}

.footer-main{
    width: 80%;
    max-width: $content-width;
    margin: 0 auto;
    padding: $sm-padding;
    color: $light-color;
}

/* basic classes */

.small-text{
    font-size: $sm-font-size;
}

.align-middle{
    margin: 0 auto;
}

/* general classes */

.panel-trendy{
    padding: $default-padding;
    margin: $default-margin;
    background-color: #eeeeee;
    @include default-border;
    @include default-radius;
    @include default-shadow;
}

.follow-us{
    display: inline-block;
    text-align: left;
    img{
        display: inline-block;
        padding-left: $xs-padding;
    }
}

.payment-icons{
    display: inline-block;
    text-align: right;
    img{
        display: inline-block;
        padding-left: $sm-padding;
    }
}

.footer-menu{
    width: 300px;
    display: inline-block;
    text-align: center;
    a, a:hover, a:active, a:visited{
        color: $light-color;
    }
    ul{
        padding: 0px;
    }
    li{
        list-style-type: none;
    }
    .footer-menu-middle{
        display: inline-block;
        width: 1px;
        vertical-align: top;
    }
    .footer-menu-left{
        display: inline-block;
        text-align: right;
        padding-top: 15px;
        padding-right: 8px;
        width: 85px;
    }
    .footer-menu-right{
        display: inline-block;
        text-align: left;
        padding-top: 15px;
        padding-left: 8px;
        width: 85px;
    }
}

/* masonry */

.homeMasonry{
    width: 100%;
}

.homeMasonry_brick{
    cursor: pointer;
    padding: $sm-padding;
    width: 33.333%;
    overflow: hidden;
    a, a:hover, a:active{
        text-decoration: none;
        color: $primary-text-color;
    }
    img{
        @include transition-ease;
        width: 100%;
    }
    .homeMasonry_brick_top_txt,
    .homeMasonry_brick_type{
        @include transition-quick-ease;
        display: none;
    }
    &:hover{
        img{
            opacity: 0.3;
            @include transition-scale;
        }
        .homeMasonry_brick_top_txt,
        .homeMasonry_brick_type{
            display: block;
            position: absolute;
        }
        .homeMasonry_brick_top_txt{
            top: 15px;
            left: 20px;
        }
        .homeMasonry_brick_title{
            font-size: $lg-font-size;
            font-weight: bold;
        }
        .homeMasonry_brick_artist{
            font-size: $font-size;
            font-style: italic;
        }
        .homeMasonry_brick_type{
            bottom: 15px;
            right: 20px;
            font-size: $font-size;
        }
    }
}

/* article page */

.article-title{
    font-size: $xl-font-size;
    font-weight: bold;
}

.article-type{
    a, a:hover, a:active{
        color: $primary-text-color;
    }
}

.article-artist{
    a, a:hover, a:active{
        color: $primary-text-color;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
    }
    .article-artist-image{
        width: 30px;
        height: 30px;
        @include artist-sm-image-radius;
    }
}

.article-description{
    font-size: $font-size;
}

.article-cover{
    img{
        width: 100%;
    }
}

.article-images-thumbs, .same-type-articles-thumbs, .same-artist-articles-thumbs{
    padding: $sm-padding;
    div{
        padding: $xs-padding;
        margin: 0;
    }
}

.article-image-thumb{
    cursor: pointer;
    img{
        @include transition-ease;
        width: 100%;
    }
    &:hover{
        img{
            opacity: 0.3;
        }
    }
}

.same-type-articles-thumb, .same-artist-articles-thumb{
    cursor: pointer;
    a, a:hover, a:active{
        text-decoration: none;
        color: $primary-text-color;
    }
    img{
        @include transition-ease;
        width: 100%;
    }
    .similar_article_top_txt{
        @include transition-quick-ease;
        display: none;
    }
    &:hover{
        img{
            opacity: 0.3;
        }
        .similar_article_top_txt{
            display: block;
            position: absolute;
            top: 2px;
            left: 2px;
            line-height: 10px;
        }
        .similar_article_title{
            font-size: $sm-font-size;
            font-weight: bold;
        }
        .similar_article_artist{
            font-size: $xs-font-size;
            font-style: italic;
        }
    }
}

.article-shop{
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
        padding-right: $md-padding;
    }
    .article-price{
        font-size: $xxl-font-size;
    }
}

/* artist page */

.artist-details-panel{
    .artist-cover{
        margin-left: $sm-margin;
        width: 200px;
        height: 200px;
        @include artist-lg-image-radius;
    }

    .artist-name{
        font-size: $xl-font-size;
        font-weight: bold;
    }

    .artist-company{
        font-size: $md-font-size;
    }
}

.artist-articles-thumbs{
    padding: $sm-padding;
    div{
        padding: $xs-padding;
        margin: 0;
    }
}

.artist-articles-thumb{
    cursor: pointer;
    a, a:hover, a:active{
        text-decoration: none;
        color: $primary-text-color;
    }
    img{
        @include transition-ease;
        width: 100%;
    }
    .artist_article_top_txt{
        @include transition-quick-ease;
        display: none;
    }
    &:hover{
        img{
            opacity: 0.3;
        }
        .artist_article_top_txt{
            display: block;
            position: absolute;
            top: 2px;
            left: 2px;
            line-height: 10px;
        }
        .artist_article_title{
            font-size: $sm-font-size;
            font-weight: bold;
        }
        .artist_article_artist{
            font-size: $xs-font-size;
            font-style: italic;
        }
    }
}

/* album image overlay */

.overlay-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-overlay;
    background-image: url('/img/site/bg/black70.png');
    background-repeat: repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

.overlay-main{
    padding: $lg-padding;
    .glyphicon {
        font-size: 24px;
        padding: $sm-padding;
        @include transition-quick-ease;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style-type: none;
        display: inline-block;
        vertical-align: middle;
    }
    .overlay-left-arrow, .overlay-right-arrow, .overlay-close{
        cursor: pointer;
        color: white;
    }
    .overlay-left-arrow:hover, .overlay-right-arrow:hover, .overlay-close:hover{
        opacity: 0.5;
        @include transition-lg-scale;
    }
    .overlay-image{
        @include large-shadow;
    }
}

/* admin */

.table-date{
    font-size: $sm-font-size;
}

.table-header{
    cursor: pointer;
    :before {
        content: '\25BA';
    }
    .st-sort-ascent:before {
        content: '\25B2';
    }
    .st-sort-descent:before {
        content: '\25BC';
    }
}

.list_admin{
    ul{
        padding: 0px;
        margin: 0px;
    }
    li{
        display: inline;
        float: left;
        padding: 2px;
        cursor: pointer;
        list-style-type: none;
    }
}

.articleImage_thumb{
    display:block;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    img:hover{
        opacity: 0.3;
    }
    .articleImage_thumb_delete{
        display: none;
        position: relative;
        z-index: 1000;
        font-size: 25px;
        margin-bottom: -25px;
        margin-left: 75px;
    }
    .articleImage_thumb_delete:hover{
        display: block;
    }
}

/* separator */

.spacer {
  margin-top:35px;
  width:100%;
  position:relative;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 10px #b3b3b3;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size;
    position:absolute;
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;

    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

.spacer-vertical {
  display:inline-block;
  margin-top:100px; margin-left:100px; width:100px;
  position:relative;

  .mask {
    overflow:hidden; width:20px; height:200px;
    //outline:1px solid pink;
  }
  &.left .mask:after {
    content:'';
    display:block; margin-left:-20px;
    width:20px; height:100%;
    border-radius:12px / 125px;
    box-shadow:0 0 8px black;
  }
  &.right .mask:before {
    content:'';
    display:block; margin-left:20px;
    width:20px; height:100%;
    border-radius:12px / 125px;
    box-shadow:0 0 8px black;
  }
}


/************************************
            MEDIA QUERIES
************************************/


@media only screen and (max-width: $sm-media-width) {

    .navbar-main, .navbar-home-main, .content-main, .footer-main{
        width: 90%;
    }

    /* Navbar */

    .navbar-main-items{
        display: none;
    }

    .show-navbar {
        display: inline-block;
    }
}

@media only screen and (max-width: $xmd-media-width) {

    .artist-cover{
        margin: 0 auto !important;
    }
}

@media only screen and (max-width: $md-media-width) {

    .homeMasonry_brick{
        width: 50%;
    }
}

@media only screen and (max-width: $xs-media-width) {

    body{
        padding-top: 50px;
    }

    .homeMasonry_brick, .content-main{
        width: 100%;
    }

    .content-main{
        @include no-radius;
    }
}
